@font-face {
  font-family: 'Montserrat';
  src: url('./assets/fonts/Montserrat-Regular.ttf') font-weight(400), 
  url('./assets/fonts/Montserrat-Light.ttf') font-weight(300), 
  url('./assets/fonts/Montserrat-ExtraLight.ttf') font-weight(200);
}

/* Navbar */
/* =================================================================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

.uppercase {
  text-transform: uppercase;
}

.flex {
  display: flex;
  gap: var(--gap, 2.8rem)
}

.navbar {
  font-family: 'Montserrat';
  font-weight: 300;
  
  align-items: center;
  justify-content: space-between;

  background-color: #F9F9F9;
  box-shadow: inset 0px 4px 20px rgba(0, 0, 0, 0.1);

  width: 100%;
  padding: 0 55px;
}

.navbar .brand p {
  font-weight: 400;
  font-size: 23px;
}

.menu-end {
  list-style: none;
  transition: 0.3s;
}

.navbar a {
  font-size: 18px;
  line-height: 24px;
  color: #000;
  text-decoration: none;
}

.navbar-toggle {
  display: none;
}

@media (max-width: 767px) {
  .brand {
    padding: 25px 0;
  }

  .menu-end {
    font-weight: 400;

    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    background: hsl(0 0% 100% / 0.7);
    transform: translateX(100%);
    position: fixed;
    inset: 0 0 0 0;
    z-index: 90;
  }

  .menu-end[data-visible="true"] {
    transform: translateX(0);
  }

  .navbar-toggle {
    display: block;
    position: absolute;
    background: red;
    width: 1.5rem;
    aspect-ratio: 1;
    top: 1.6rem;
    right: 2.8rem;
    z-index: 100;

    background-color: transparent;
    background: url("./assets/icons/menu.png");
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
  }

  .navbar-toggle[aria-expanded="true"] {
    background-color: transparent;
    background: url("./assets/icons/close.png");
    background-repeat: no-repeat;
    background-size: contain;
  }

  @supports (backdrop-filter: blur(1rem)) {
    .menu-end {
      --gap: 3.5rem;
      background: hsl(0 0% 100% / 0.15);
      backdrop-filter: blur(1.5rem);
    }
  }
}

@media (min-width: 768px) {
  .menu-end li {
    padding: 25px 0 30px 0px;
    border-top: 5px solid #F9F9F9;
    transition: 0.3s;
  }

  .menu-end li:hover {
    border-top: 5px solid #000;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .menu-end {
    --gap: 1rem;
  }
  .navbar a {
    font-size: 16px;
  }
}
/* =================================================================== */